@model ProjectMVC.Models.Restaurant
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { restaurantId = Model.Id })
</p>

@Html.Partial("_Reviews", Model.Reviews)