@model IEnumerable<ProjectMVC.Models.RestaurantReviews>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    @Html.Partial("_Reviews", item)
    <span class="right">
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    </span>
}